language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"

# install dependencies
install: "pip install -r requirements.txt"

# run tests
script: nosetests

branches:
  only:
    - master